.schedule-month-container {
    display: flex;
    width: 340px;
}

.schedule-left-button, .schedule-right-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
}

.schedule-calender-header-container {
    display: flex;
}

.schedule-left-button {
    margin-left: auto;
    margin-right: 25px;
}

.schedule-left-button > img, .schedule-right-button > img {
    box-shadow: none;
    width: 22px;
    height: 22px;
}

.schedule-calender-header-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    margin-top: 55px;
}

.schedule-calender-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.schedule-calender-grid-item {
    background-color: #F8F4E1;
    aspect-ratio: 1;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
}

.schedule-calender-date {
    margin-left: 20px;
    margin-top: 20px;
}

.schedule-overlay {
    opacity: 0;
    background-color: #a19e8c36;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.15s;
}

.js-schedule-calender-date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEBA17;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 15px;
}

/* Calender Day */
.schedule-calender-day-container {
    background-color: #F8F4E1;
    padding: 60px;
    margin-top: 55px;
    border: 1px solid black;
}

.schedule-calender-day-header-container {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.schedule-calender-day-cross-button {
    background-color: #F8F4E1;
    border: 0;
    padding: 0;
    font-size: 50px;
    cursor: pointer;
    line-height: 0.8;
    margin-left: auto;
    color: #FEBA17;
    font-weight: 500;
}

.schedule-calender-time-event-container {
    display: flex;
}

.schedule-calender-time-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-self: start;
    row-gap: 34px;
}

.schedule-calender-time {
    margin-right: 15px;
}

.schedule-calender-event-grid {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    align-self: start;
    margin-top: 12px;
}

.schedule-calender-day-event-slot, .schedule-calender-day-event-first-slot {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-bottom: 1px solid black;
}

.schedule-calender-day-event-first-slot {
    border-top: 1px solid black;
}
