.groups-header-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 70px;
}

.groups-create-button {
    margin-left: auto;
    margin-right: 30px;
}

.other-groups-edit-button {
    margin-left: auto;
}

.groups-grid-container {
    display: grid;
    grid-template-columns: 390px 390px 390px;
    justify-content: space-between;
    row-gap: 50px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 70px;
}

.groups-grid-item {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.groups-grid-item-main {  
    position: relative;
    background-color: #4E1F00;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.groups-overlay {
    opacity: 0;
    background-color: #0000003f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    transition: opacity 0.15s;
    cursor: pointer;
}

.groups-grid-item-header {
    color: #F8F4E1;
    margin-bottom: 35px;
}

.groups-members-grid-container {
    display: grid;
    grid-template-columns: 42px 42px 42px 42px 42px 42px;
    justify-content: space-between;
    row-gap: 10px;
}

.groups-members-img {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.groups-members-more {
    align-self: center;
    text-align: center;
}

.groups-delete-button {
    display: none;
    margin-top: 15px;
}

/* Add New Group Overlay */
.groups-add-new-group-overlay {
    background-color: rgba(0, 0, 0, 0.62);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groups-add-new-group-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    z-index: 102;
    padding: 35px 50px;
    border-radius: 15px;
}

.groups-add-new-group-container > form {
    display: flex;
    flex-direction: column;
}

.group-add-new-group-cross-button {
    background-color: white;
    border: 0;
    padding: 0;
    font-size: 50px;
    cursor: pointer;
    line-height: 0.8;
    margin-left: auto;
    color: #FEBA17;
    font-weight: 500;
}

.group-add-new-group-title-input {
    border: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.group-add-new-group-title-input:focus {    
    outline: none;
}

.group-add-new-group-title-input {
    margin-top: 5px;
    margin-bottom: 50px;
}

.groups-add-new-group-search-container {
    display: flex;
    margin-bottom: 30px;
}

.groups-add-new-group-search-input {
    flex: 1;
    margin-right: 20px;
}

.groups-add-new-group-search-result {
    margin-bottom: 30px;
}

.groups-add-new-group-members-grid-container {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
    column-gap: 30px;
    row-gap: 15px;
    margin-bottom: 50px;
}

.groups-add-new-group-members-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.groups-add-new-group-members-grid-item-img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.group-add-new-group-member-cross-button {
    position: absolute;
    top: -2px;
    right: -7px;
    background-color: #E92E2E;
    border: 0;
    border-radius: 50%;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
    line-height: 0.8;
    font-weight: 600;
}