.group-invites-title {
    margin-left: 160px;
    margin-top: 70px;
    margin-bottom: 45px;
}

.group-invites-grid-container {
    display: grid;
    grid-template-columns: 390px 390px 390px;
    justify-content: space-between;
    row-gap: 50px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 70px;
}

.group-invites-grid-item {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.group-invites-grid-item-top {  
    position: relative;
    background-color: #4E1F00;
    padding: 25px 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.group-invites-overlay {
    opacity: 0;
    background-color: #0000003f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: opacity 0.15s;
    cursor: pointer;
}

.group-invites-grid-item-header {
    color: #F8F4E1;
    margin-bottom: 35px;
}

.group-invites-members-grid-container {
    display: grid;
    grid-template-columns: 42px 42px 42px 42px 42px 42px;
    justify-content: space-between;
    row-gap: 10px;
}

.group-invites-members-img {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.group-invites-members-more {
    align-self: center;
    text-align: center;
}

.group-invites-grid-item-bottom {
    display: flex;
}

#group-invites-accept-button {
    flex: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    box-shadow: none;
}

#group-invites-reject-button {
    flex: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
    box-shadow: none;
}
