.invites-details-header-container {
    background-color: #4E1F00;
    display: flex;
    position: fixed;
    left: 322px;
    right: 0;
    top:0;
    padding-left: 160px;
    padding-right: 160px;
    height: 230px;
}

.invites-details-title {
    color: #F8F4E1;
}

.invites-details-header {
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: auto;
    margin-bottom: 50px;
}

#invites-details-reject-button {
    background-color: #E92E2E;
    margin-left: auto;
    margin-right: 30px;
}

#invites-details-accept-button {    
    background-color: #4BD33F;
}

#invites-details-reject-button:hover {
    background-color: #b92727;
    margin-left: auto;
}

#invites-details-accept-button:hover {
    background-color: #319728;
}

.invites-details-main-container {
    display: flex;
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 280px;
}

.invite-details-left-title {
    margin-bottom: 30px;
}

.invites-details-members-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.invites-details-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 15px;
}

.invites-details-grid-item > img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 7px;
}

.invites-details-main-right {
    width: 300px;
    margin-left: auto;
}

.invite-details-right-title {
    margin-bottom: 30px;
}

.invites-details-owner-container {
    display: flex;
    align-items: center;
}

.invites-details-owner-container > img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}


