.landing-img {
    display: block;
    height: 100%;
    object-fit: contain;
}

.landing-container {
    display: flex;
    height: 100vh;
}

.landing-text-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.landing-text-details { 
    margin-top: 50px;
    margin-bottom: 50px;
}

.landing-start-button {
    align-self: flex-start;
}