.my-events-details-header-container {
    background-color: #4E1F00;
    display: flex;
    position: fixed;
    left: 322px;
    right: 0;
    top:0;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 270px;
}

.my-events-details-header {
    display: flex;
    align-items: center; 
}

.my-events-details-header-left {
    display: flex;
    flex-direction: column;
}

.my-events-form-title {
    width: 800px;
    margin-bottom: 20px;
}

.my-events-create-button {
    margin-left: auto;
}

.my-events-main-container {
    display: flex;
    margin-top: 310px;
    margin-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.my-events-main-left {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-right: auto;
}

.my-events-desc-textarea, .my-events-loc-textarea {
    margin-bottom: 60px;
}

.my-events-datetime-container {
    display: flex;
    margin-bottom: 60px;
}

.my-events-date-container, .my-events-time-container, .my-events-duration-container {
    display: flex;
    flex-direction: column;
}   

.my-events-time-container {
    margin-left: 40px;
    margin-right: 40px;
}

.my-events-time-input-container {
    display: flex;
    align-items: center;
}

.my-events-time-input-seperator {
    width: 10px;
    border-top: 3px solid black;
    margin-left: 15px;
    margin-right: 15px;
}

.my-events-members-container {
    margin-bottom: 60px;
}

.my-events-members-grid {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    column-gap: 30px;
    row-gap: 15px;
}

.my-events-members-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-events-members-grid-item > img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 7px;
}