.home-events-details-header-container {
    background-color: #4E1F00;
    display: flex;
    position: fixed;
    left: 322px;
    right: 0;
    top:0;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 270px;
}

.home-events-details-header {
    display: flex;
    align-items: center; 
}

.home-events-details-header-left {
    display: flex;
    flex-direction: column;
}

.home-events-details-header-left p {
    color: #F8F4E1;
}

.home-events-title {
    width: 650px;
    margin-bottom: 20px;
}

.home-events-form-select-container img {
    display: block;
}

.home-events-form-select-container > select {
    appearance: none;
    border: 0;
    background-color: #FEBA17;
    padding-left: 20px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("/images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    background-size: 20px auto;
    border-radius: 8px;
    cursor: pointer;
}

.home-events-create-button {
    margin-left: auto;
}

.home-events-main-container {
    display: flex;
    margin-top: 310px;
    margin-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.home-events-main-left {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-right: auto;
}

.home-events-loc-header {
    margin-top: 60px;;
}

.home-events-loc-text {
margin-bottom: 60px;
}

.home-events-datetime-container {
    display: flex;
}

.home-events-time-container {
    margin-left: 95px;
    margin-right: 95px;
}

.home-events-members-container {
    margin-bottom: 60px;
}

.home-events-members-grid {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    column-gap: 30px;
    row-gap: 15px;
}

@media screen and (min-width: 1600px) {
    .home-events-members-grid {
        grid-template-columns: 70px 70px 70px 70px 70px 70px;
    }
}

.home-events-members-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-events-members-grid-item > img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 7px;
}