.schedule-main-container {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 70px;
    margin-bottom: 70px;
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
}

.schedule-group-select {
    margin-left: auto;
}

.schedule-calender-day-event {
    text-align: start;
    background-color: #4E1F00;
    color: #F8F4E1;
    display: flex;
    align-items: center;
}

.schedule-calender-day-possible-event {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CFCBB5;
    transition: background-color 0.15s;
}

.schedule-calender-day-possible-event:hover {
    background-color: #868474;
}

.schedule-calender-day-possible-event > img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: none;
}

/* Calender js styles */
.schedule-calender-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.schedule-calender-day-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.schedule-calender-time-event-container {
    overflow: auto;
}

